.custom-quote{
    position:relative;
    max-width:600px;
    padding:80px 60px;
    font-family: "Georgia", serif;
    font-style:italic;
    line-height:1.6;
    color:#333;
    font-size:20px;
}
.custom-quote::before,.custom-quote::after{
    content:"“";
    position:absolute;
    width:60px;
    height:60px;
    background-color: #ccc;
    border-radius:50%;
    display: flex;
    justify-content: center;
    font-size:70px;
    font-style:normal;
}
.custom-quote::before{
    top:0;
    left:0;
}
.custom-quote::after{
    content:"”";
    bottom:0;
    right:0;
}
