.title{
    color:#4e5a72;
    line-height:3;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    margin:30px 40px;
    font-family: "Arial", sans-serif;
    color:#6e6f72;
    width:700px;
}
a{
    color:#0a7bec;
}
#link{
    font-weight: bold;
    display: block;
    margin-top:30px;
}
.main-content{
    margin-bottom:30px;
}
.box-content{
    border:2px solid rgb(187, 181, 181);
    padding:30px 30px;
    border-radius:20px ;
    
}
.map {
    background-color: #f0f2f5; 
    color: #333;               
    padding: 2px 8px;          
    border-radius: 6px;        
    font-size: 0.9em;         
}
