*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    width:100%;
}
.carousel{
    position:relative;
    overflow:hidden;
}
.carousel-inner{
    display: flex;
    transition:translate 250ms ease-in-out;
}
.carousel-inner .item{
    flex-shrink: 0;
    width:100%;
}
.carousel-nav button{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    padding:10px;
    background-color:rgba(0,0,0,0.3);
    color:white;
    outline:none;
    border:none;
    font-weight:bold;
    font-size:20px;
    cursor: pointer;
}
.carousel-nav button:hover{
    opacity:0.8;
}
.carousel-nav button:disabled{
    opacity:0.5;
    cursor: not-allowed;
}
.carousel-nav .next{
    right:10px;
}

.carousel-nav .prev{
    left:10px;
}
.carousel-button-list{
    display: flex;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:20px;
    gap:20px;
}
.carousel-button-list button{
    width:20px;
    height:20px;
    border-radius:50%;
    border:none;
    cursor: pointer;
    transition:background-color 100ms ease-in-out;
}
.carousel-button-list button:hover{
    background-color:yellow;
}
.carousel-button-list button.active{
    background-color:yellow;
}