*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family:"Lobster",cursive;
}
.main-container{
    border: 1px solid rgb(156, 155, 155);
    width:500px;
    max-height:100%;
    margin: 30px auto;
    padding:20px 20px;
    position:relative;
}
.tooltip-container{
    position:relative;
}
.tooltip{
    max-width:500px;
    text-align: center;
    position:absolute;
    top:-50px;
    left:35px;
    background-color:#333;
    visibility: hidden;
    opacity:0;
    padding: 10px 12px;
    font-size:14px;
    border-radius:2px;
    color:white;
}
.tooltip::after{
    position:absolute;
    content:"";
    top:100%;
    left:20px;
    border-width:8px;
    border-style:solid;
    border-color: #333 transparent transparent transparent;
}
.tooltip-container:hover .tooltip{
    visibility: visible;
    opacity:1;
}
.title-info{
    margin-top:30px;
}
.title-info p{
    color:#ada8a8;
}
span{
    color:#ed6960;
}
.form-input{
    margin-top:30px;
}
.user-icon{
    background-color: #dcdcdc;
    color:white;
    padding: 12px 12px;
}
input,select,textarea{
    padding:12px 12px;
    width:100%;
    border:none;
    color:#423f3f;
    font-size:14px;
    outline:none;
}
.input-group{
    display: flex;
    border:2px solid #ddd;
    margin-bottom:15px;
    background:white;
    position:relative;
}
.input-wrapper{
    flex:1;
    position:relative;
}
.input-group:hover .input-wrapper{
    border: 2px solid #333;
}
.input-group:hover .user-icon{
    background-color:#333;
    color:white;
}
.input-group:focus-within .user-icon{
    background-color:#333;
    color:white;
    border-right-color:#333;
}
.required-icon{
    color:#ada8a8;
    font-size:10px;
    position:absolute;
    top:35%;
    right:10px;
    opacity: 1;
    transform: scale(1) rotate(0deg);
}
.required-icon_text{
    color:#ada8a8;
    font-size:10px;
    position:absolute;
    top:20px;
    right:10px;
    opacity: 1;
    transform: scale(1) rotate(0deg);
}
.close-btn_text{
    color:#ada8a8;
    font-size:10px;
    position:absolute;
    top:20px;
    right:10px;
    opacity:0;
    transform: scale(0) rotate(-90deg);
}
.input-group:focus-within .required-icon_text{
    opacity:0;
    transform: scale(0) rotate(90deg);
    transition: 0.3s ease;
}
.input-group:focus-within .close-btn_text{
    opacity:1;
    transform: scale(1) rotate(0deg);
    transition:0.3s ease;
}
.close-btn{
    color:#ada8a8;
    font-size:10px;
    position:absolute;
    top:35%;
    right:10px;
    opacity:0;
    transform: scale(0) rotate(-90deg);
}
.input-group:focus-within .required-icon{
    opacity:0;
    transform: scale(0) rotate(90deg);
    transition: 0.3s ease;
}
.input-group:focus-within .close-btn{
    opacity:1;
    transform: scale(1) rotate(0deg);
    transition:0.3s ease;
}
.input-group:focus-within{
    border-color:#333;
}
select{
    appearance: none;
}
.footer{
   display: grid;
   grid-column: 3;
   grid-template-columns: 20px 1fr 100px;
}

.footer p{
    margin-left:10px;
    display: flex;
    align-items: center;
    font-size:10px;
    color:#ada8a8;
}
button{
    padding: 10px 30px;
    background-color: #ea3f33;
    color:white;
    border:none;
    font-weight: bold;
}
button:hover{
    background-color:#ed6960
}
