*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:"Asap",sans-serif;
    background-color:#efeeec;
}
html{
    font-size:62.5%;
}
.header{
    padding:20px;
}
.header h2{
    margin-left:8%;
}
.header-nav {
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.nav{
    border-radius:20px;
    padding:15px 20px;
    text-align: center;
    background-color:#e4e4e4;
    line-height:1.5;
    transition: all 0.3s ease;
}
.nav .title{
    font-weight:bold;
    font-size:1.3rem;
}
.nav .info{
    font-style:italic;
}
.nav:hover{
    background-color:#ae7b37;
    color:white;
}
.main-gallery .image img{
    width:450px;
    height:250px;
    object-fit: cover;
}
.main-gallery{
    margin-top:20px;
    display: grid;
    grid-template-columns: repeat(3,450px);
    justify-content: center;
    gap:10px;
}
.image{
    position:relative;
}
.main-gallery .image .image-title{
    position:absolute;
    top:15%;
    left:20px;
    font-size:1.8rem;
    color:white;
    font-weight: bold;
    z-index:2;
}
.main-gallery .image .image-info{
    position:absolute;
    bottom:20px;
    left:20px;
    color:white;
    font-size:1.4rem;
    z-index:2;
}
.main-gallery .image .image-info span{
    font-weight: bold;
    font-size:1.8rem;
}
.image::after{
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1;
    background-color: rgba(0, 0, 0, 0.2); 
}