*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size:25px;
}
.background{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.ytimg.com/vi/x0fSBAgBrOQ/maxresdefault.jpg);
    background-size:cover;
    position:ralative;
}
.blur-card{
    background:rgba(255,255,255,0.3);
    /* backdrop-filter: blur(10px); */
    padding:40px;
    border:1 px solid rgba(255, 255, 255, 0.557);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border-radius:6px;
    text-align: center;
    color:black;
    width:500px;
    height:300px;
    position:absolute;
    top:25%;
    right:26%;
}
.blur-card p a {
    color:black;
    margin-top:15px;
    display: block;
}
