*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.title-info{
    text-align: center;
    margin-top:40px;
    line-height:1.5;
}
.title-info p{
    color:rgb(152, 152, 152);
}
.box-info{
    display: grid;
    grid-template-columns:repeat(3,300px);
    gap:30px;
    margin-top:50px;
    justify-content: center;

}
.box-info--content{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    height:350px;
}
.box-info--content:hover{
    transform: translateY(10px);
    transition: all 0.4s ease-in-out;
}
.box-info--content p{
    margin-top:20px;
    margin-bottom:20px;
    color:rgb(141, 139, 139);
    font-size:13px;
    padding:0 20px 0 20px;
}
.box-info--content img{
    margin-top:40px;
    width:80px;
    object-fit: contain;
    margin-bottom:20px;
    border-width: 4px;
    border-style: solid;
    border-color: #e68e0a; /* Màu xanh lá theo mã HEX */
    border-radius: 50%;  
}

button{
    display: inline-block;
    margin-top:30px;
    padding:10px 25px;
    color:white;
    background-color:#f1a83a;
    border:none;
    font-weight:500;
    cursor:pointer;
}
button:hover{
    background-color:#e68e0a
}
